[submodule "flappybird"]
	path = flappybird
	url = https://github.com/jamesbiederbeck/flappy-bird-gymnasium
[submodule "connectome_sim"]
	path = connectome_sim
	url = /home/victor/code/playground/connectome-sim
